extends ../layout

block content
  nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
    .container
      a.navbar-brand.js-scroll-trigger(href='/') Red Bicicletas
      button.navbar-toggler.navbar-toggler-right(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
        | Menu
        i.fas.fa-bars
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link.js-scroll-trigger(href='/') Home
          li.nav-item
            a.nav-link.js-scroll-trigger(href='/bicicletas') Bicicletas
          li.nav-item
            a.nav-link.js-scroll-trigger(href='/bicicletas/create') Crear Bicicleta  
  header.masthead
    .container.d-flex.h-100.align-items-center
      .mx-auto.text-center
        h1 Agregar Bicicleta
        form(action='/bicicletas/create' method='post')
          .form-group.row
            label.form-control-lg(for='id') ID:
            input#id.form-control.form-control-lg(type='text' name='id' placeholder='Ingrese un ID')
            
            label.form-control-lg(for='color') Color:
            input#color.form-control.form-control-lg(type='text' name='color' placeholder='Ingrese un Color')
            
            label.form-control-lg(for='modelo') Modelo:
            input#modelo.form-control.form-control-lg(type='text' name='modelo' placeholder='Ingrese un modelo')
            
            label.form-control-lg(for='lat') Latitud:
            input#lat.form-control.form-control-lg(type='text' name='lat' placeholder='Ingrese Latitud')
            
            label.form-control-lg(for='lng') Longitud:
            input#lng.form-control.form-control-lg(type='text' name='lng' placeholder='Ingrese Longitud')

            button.btn.btn-primary.mb-2.mt-4(type='submit' value='OK') Enviar

        a.btn.btn-primary.mt-2(href='/bicicletas') Volver