extends ../layout

block content
  nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
    .container
      a.navbar-brand.js-scroll-trigger(href='/') Red Bicicletas
      button.navbar-toggler.navbar-toggler-right(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
        | Menu
        i.fas.fa-bars
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link.js-scroll-trigger(href='/') Home
          li.nav-item
            a.nav-link.js-scroll-trigger(href='/bicicletas') Bicicletas
          li.nav-item
            a.nav-link.js-scroll-trigger(href='/bicicletas/create') Crear Bicicleta
  header.masthead
    .container.d-flex.h-100.align-items-center
      .mx-auto.text-center
        h1 Lista de Bicicletas
        table.table
          thead.thead-dark
            tr
              th(scope='col') #
              th(scope='col') Color
              th(scope='col') Modelo
              th(scope='col') Ubicacion
              th(scope='col')
              th(scope='col')
          tbody
            each bici in bicis
              tr
                th(scope='row')
                  = bici.id 
                td= bici.color
                td= bici.modelo
                td= bici.ubicacion
                td
                  a.btn.btn-primary.mt-2.mb-2(href='bicicletas/' + bici.id + '/update') Update
                td
                  form(method='post' action='bicicletas/' + bici.id + '/delete')
                    input(type='hidden' name='id' value= bici.id)
                    button.btn.btn-primary.mb-2(type='submit' name='submit-param' value='submit_value' class='btn') Eliminar
        a.btn.btn-primary.mt-2(href='/bicicletas/create') Agregar Bicicleta
